
<!-- Header section -->

<%- include("include/_header") %>

<!-- Header section -->

<div class="container">
  <div class="row"><a href="/">All users</a></div>
  <h3 class="text-center"> Add a new a Student</h3>
  
    <!-- footer section -->
  <%- include("include/_form") %>
  <!-- footer section -->
</div>

  
<!-- footer section -->
<%- include("include/_footer") %>
<!-- footer section -->