<!-- Header section -->

<%- include("include/_header") %>

<!-- Header section -->


<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/create" >
                <span >New student </span>
            </a>
        </div>

        <!-- form handling -->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Department</th>
                       <th> </th>
                       <th></th>
                    </tr>
                </thead>
                <tbody>
                    <%- include("include/_show") %>
                </tbody>
            </table>
        </form>
        
    </div>
</main>


<!-- footer section -->
<%- include("include/_footer") %>
<!-- footer section -->