<form action="/create" method="post" id="create">
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" class="form-control" id="name"  name="name" placeholder="Enter name">
    
    </div>
    <div class="form-group">
      <label for="Department">Department</label>
      <input type="text" class="form-control" id="dept" name="dept" placeholder="Department">
    </div>
    
    <div class="from-group">
      <button type="submit" id="formSubmitBtn" class="btn btn-primary">Submit</button>
    </div>
</form>
<script src="../../assets/js/index.js"></script>